@model HC_Pharma.ViewModel.LandingPageViewModel
@using HC_Pharma.Models
@using Helpers
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
    ViewBag.Title = Model.Product.TitleMeta ?? Model.Product.Name;
    ViewBag.Description = Model.Product.DescriptionMeta ?? Model.Product.Description;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("LandingPage", new { url = Model.Product.Url });

    if (Model.Product.ListImage != null)
    {
        ViewBag.ImagShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/products/"
            , Model.Product.ListImage.Split(',')[0]);
    }

    var delay = 200;
}
<div class="banner-landing">
    <div class="text-center">
        <h2 class="title-landing" data-aos="fade-up">
            @Model.LandingPage.Title
        </h2>
        <p class="title-landing-sub" data-aos="fade-up">@Model.LandingPage.SubTitle</p>
        <span class="title-landing-subline" data-aos="fade-up">
            @Model.LandingPage.SubTitle2
        </span>
    </div>
    <div class="container overflow-hidden">
        <div class="d-lg-flex">
            <div class="w-55">
                @foreach (var item in Model.Banners.Where(l => l.PostionAbout == PostionAbout.Banner).Take(1))
                {
                    <img src="@Path.Combine("/images/banners/", item.Image)" class="img-banner-langding" data-aos="fade-up"/>
                }
            </div>
            <div class="w-45">
                <form class="support-form landing-form" data-aos="fade-down">
                    <p>Đăng ký tư vấn</p>
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="@Model.Product.Id" name="ProductId"/>
                    <span>
                        Cần thêm thông tin về sản phẩm<br />
                        Hãy để lại SĐT để chúng tôi tư vấn cho bạn
                    </span>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Fullname" placeholder="Họ và tên" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Mobile" placeholder="Số điện thoại" />
                    </div>
                    <div class="text-center">
                        <button class="btn" type="submit">TƯ VẤN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="intro-landing section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="title-landing-page " data-aos="fade-down">Probiotics Plus Hcpharma</h2>
                <div class="content-detail" data-aos="zoom-in">
                    @Html.Raw(Model.LandingPage.Intro)
                </div>
            </div>
            <div class="col-lg-6 text-center">
                @if (Model.LandingPage.ImageIntro != null)
                {
                    <img src="@Path.Combine("/images/landingPage/", Model.LandingPage.ImageIntro)" class=""  data-aos="zoom-in"/>
                }
            </div>
        </div>
    </div>
</section>

<section class="common-diseases section-padding">
    <div class="container">
        <div class="title-landing-page text-center text-uppercase" data-aos="fade-down" >
            Các bệnh thường gặp + dấu hiệu
        </div>
        <div class="sub-title-landing text-center"  data-aos="fade-down">
            @Model.LandingPage.CommonDiseases
        </div>
        <div class="row">
            @{
                var common = 1;
                delay = 0;
            }
            @foreach (var item in Model.Banners.Where(l => l.PostionAbout == PostionAbout.CommonDiseases))
            {
                <div class="col-lg-6">
                    <div class="common-diseases__item" data-aos="fade-right" data-aos-delay="@delay">
                        <div class="img">
                            @if (item.Image != null)
                            {
                                <img src="@Path.Combine("/images/banners/", item.Image)" class="" />
                            }
                        </div>
                        <div class="body">
                            <div class="number">
                                @if (common < 10)
                                {
                                    @("0"+common)
                                }
                                else
                                {
                                    @common

                                }
                            </div>
                            <div class="text">
                                <div class="name">@item.Name</div>
                                <div class="des">
                                    @item.Content
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                common++;
                delay += 50;

            }
        </div>
    </div>
</section>

<section class="cause-disease section-padding">
    <div class=" container">
        <div class="title-landing-page text-center text-uppercase" data-aos="fade-down">
            nguyên nhân gây bệnh
        </div>
        <div class="sub-title-landing text-center mb-4" data-aos="fade-down">
            @Model.LandingPage.CauseDisease
        </div>

        <div class="cause-disease-list">
            @{ 
                delay = 0;
            }
            @foreach (var item in Model.Banners.Where(l => l.PostionAbout == PostionAbout.CauseDisease))
            {
                <div class="cause-disease-item" data-aos="fade-right" data-aos-delay="@delay">
                    <div class="img">
                        @if (item.Image != null)
                        {
                            <img src="@Path.Combine("/images/banners/", item.Image)" class="" />
                        }
                    </div>
                    <div class="body">
                        <div class="name">
                            @item.Name
                        </div>
                        <div class="des">
                            @item.Content
                        </div>
                    </div>
                </div>
                delay += 50;
            }
        </div>
    </div>
</section>

<div class="intro-landing section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center order-1 order-lg-0">
                @if (Model.LandingPage.Imagesolution != null)
                {
                    <img src="@Path.Combine("/images/landingPage/", Model.LandingPage.Imagesolution)" class="" data-aos="zoom-in"/>
                }
            </div>
            <div class="col-lg-6 order-0 order-lg-1">
                <h2 class="title-landing-page"  data-aos="fade-down">
                    Giải pháp<br />
                    Sp của HCPharma
                </h2>
                <div class="content-detail" data-aos="zoom-in">
                    @Html.Raw(Model.LandingPage.Solution)
                </div>
            </div>

        </div>
    </div>
</div>
<div class="intro-landing section-padding">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <h2 class="title-landing-page" data-aos="fade-down">Phân tích sản phẩm</h2>
                <div class="content-detail" data-aos="zoom-in">
                    @Html.Raw(Model.LandingPage.ProductAnalysis)
                </div>
            </div>
            <div class="col-lg-6 text-center">
                @if (Model.LandingPage.ImageAnalysis != null)
                {
                    <img src="@Path.Combine("/images/landingPage/", Model.LandingPage.ImageAnalysis)" class="" data-aos="zoom-in" />
                }
            </div>
        </div>
    </div>
</div>


<section class="user-manua section-padding">
    <div class="container">
        <div class="title-landing-page text-center text-uppercase mb-4"  data-aos="fade-down">
            Hướng dẫn sử dụng
        </div>
        <div class="row">
            @{ 
                delay = 0;
            }
            @foreach (var item in Model.Banners.Where(l => l.PostionAbout == PostionAbout.Instructions))
            {
                <div class="col-lg-3 col-6 mb-3">
                    <div class="user-manua-item" data-aos="fade-right" data-aos-delay="@delay">
                        <div class="img">
                            <div class="">
                                @if (item.Image != null)
                                {
                                    <img src="@Path.Combine("/images/banners/", item.Image)" class="" />
                                }

                            </div>
                        </div>
                        <div class="name">
                            @item.Name
                        </div>
                    </div>
                </div>
                delay += 50;
            }
        </div>
    </div>
</section>

<section class="section-register section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="section-register-img">
                    @if (Model.LandingPage.Imageregistration != null)
                    {
                        <img src="@Path.Combine("/images/landingPage/", Model.LandingPage.Imageregistration)" class=""   data-aos="zoom-in"/>
                    }
                </div>
            </div>
            <div class="col-lg-6">
                <div class="title-landing-page" data-aos="zoom-in" >
                    Đăng ký nhận tư vấn
                </div>
                <form class="form-register form-contact-submit" id="form-register-consultation"  data-aos="zoom-in">
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="@Model.Product.Id" name="ProductId" />
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-lg-6">
                                <input type="text" maxlength="100" name="Fullname" class="form-control" placeholder="Tên đầy đủ" required />
                            </div>
                            <div class="col-lg-6">
                                <input type="text" maxlength="100" name="Email" class="form-control" placeholder="Email" required />

                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" maxlength="20" name="Mobile" placeholder="Số điện thoại"  required/>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="Address" maxlength="200" placeholder="Địa chỉ (Thành Phố)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="mb-4 d-block font-weight-bold">Nhu cầu</span>
                        <label class="label d-block contact-needs">
                            Tư vấn dịch vụ
                            <input type="radio" checked="checked" name="ContactNeeds" value="Tư vấn dịch vụ">
                            <span class="checkmark"></span>
                        </label>
                        <label class="label d-block contact-needs">
                            Tư vấn sản phẩm
                            <input type="radio" name="ContactNeeds" value="Tư vấn sản phẩm">
                            <span class="checkmark"></span>
                        </label>
                        <label class="label d-block contact-needs">
                            Hướng dẫn mua hàng
                            <input type="radio" name="ContactNeeds" value="Hướng dẫn mua hàng">
                            <span class="checkmark"></span>
                        </label>
                        <label class="label d-block contact-needs">
                            Khác
                            <input type="radio" name="ContactNeeds" value="Khác">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="text" maxlength="4000" class="form-control" name="Body" placeholder="Tin nhắn">
                    </div>
                    <div class="text-left">
                        <button type="submit" class="btn text-uppercase">
                            gửi thông tin
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="feedback-landing section-padding">
    <div class="container">
        <div class="title-landing-page text-center text-uppercase mb-4" data-aos="fade-up">
            feedback của khách hàng
        </div>
        <div class="feedback-landing-list">
            @{
                delay = 0;
            }
            @foreach (var item in Model.Feedbacks)
            {
                <div class="feedback-landing-item" data-aos="zoom-in" data-aos-delay="@delay">
                    <div class="img">
                        @if (item.Image != null)
                        {
                            <img src="@Path.Combine("/images/feedbacks/", item.Image)" class="" />

                        }
                        @if (item.UrlVideo != null || item.FileVideo != null)
                        {
                            <div class="ic-play">
                                <i class="fas fa-play-circle"></i>
                            </div>
                            if (item.UrlVideo != null)
                            {
                                <a href="@item.UrlVideo" class="play-video" data-fancybox=""></a>
                            }
                            else
                            {
                                <a href="@Path.Combine("/images/feedbacks/", item.FileVideo)" class="play-video" data-fancybox=""></a>
                            }
                        }
                    </div>
                    <div class="body">
                        <div class="name">
                            @item.Name
                        </div>
                        <div class="des">
                            @item.Content
                        </div>
                    </div>
                </div>
                delay += 50;
            }
        </div>
    </div>
</section>

<section class="landing-qa section-padding">
    <div class="container">
        <div class="title-landing-page text-center text-uppercase" data-aos="fade-up">
            Câu hỏi thường gặp
        </div>
        <div class="sub-title-landing text-center mb-4" data-aos="fade-up">
            Bạn vẫn đang quyết định? Đọc 4 câu hỏi thường gặp nhất của khách hàng trước khi đặt mua men vi sinh Probiotics Plus
        </div>

        <div class="row">
            @{
                delay = 0;
            }
            @foreach (var item in Model.QaProducts)
            {
                <div class="col-lg-6 mb-3">
                    <div class="landing-qa-item" data-aos="zoom-in" data-aos-delay="@delay">
                        <div class="name" data-toggle="collapse" data-target="#qa-@item.Id" aria-controls="#qa-@item.Id">
                            @item.Name
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="body collapse" id="qa-@item.Id">
                            @item.Body
                        </div>
                    </div>
                </div>
                delay += 50;
            }
        </div>
    </div>
</section>
@if (Model.Combos.Any())
{
    var combo = 1;
    delay = 0;
    <section class="section-combo section-padding">
        <div class="container">
            <div class="title-landing-page text-center text-uppercase mb-4" data-aos="fade-up">
                mua combo nhận ưu đãi
            </div>
            <div class="row justify-content-center">
                @foreach (var item in Model.Combos)
                {
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="combo-item" data-aos="zoom-in" data-aos-delay="@delay">
                            <div class="stt">
                                Combo @combo
                            </div>
                            <div class="content">
                                <div class="img">
                                    @if (item.Image != null)
                                    {
                                        <img src="@Path.Combine("/images/combos/", item.Image)" class="" />

                                    }
                                </div>
                                <div class="name">
                                    @item.Product.Name - @item.Name
                                </div>
                                <div class="cat">
                                    (@item.Product.ProductCategory.CategoryName)
                                </div>
                                <div class="price">
                                    @if (item.PriceSale != null)
                                    {
                                        <div class="price-new">
                                            @Html.DisplayFor(a => item.PriceSale)
                                        </div>
                                        <div class="price-old">
                                            @Html.DisplayFor(a => item.Price)
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="price-new">
                                            @Html.DisplayFor(a => item.Price)
                                        </div>
                                    }
                                </div>
                                @*<div class="ship">
                                    <img src="~/Content/images/landing/car.png" />
                                    MIỄN PHÍ vận chuyển toàn quốc.
                                </div>*@
                                <div class="btn-order">
                                    <a href="javascript:;" onclick="addComboCart(@item.ProductId,@item.Id)">ĐẶT HÀNG NGAY</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    combo++;
                    delay += 50;
                }
            </div>
        </div>
    </section>
}

<section class="section-policy section-padding">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Policy)
            {
                <div class="col-lg-4 mb-3">
                    <div class="policy-item" data-aos="zoom-in">
                        @if (item.Image != null)
                        {
                            <img src="@Path.Combine("/images/banners/", item.Image)" class="" />
                        }
                        @*<img src="~/Content/images/landing/policy.png" />*@
                        <div class="name">
                            @item.BannerName
                        </div>
                        <div class="des">
                            @item.Slogan
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section scripts{

    <script>
        landingPage();
        function addComboCart(n, m) {
            $.post("/gio-hang/them-vao-gio-hang", { productId: n, comboId: m }, function (n) {
                n.result === 1
                console.log(n.CartTotal)
                $("#finalcart").text(n.CartTotal)
                    ? ($.toast({
                        text: "Thêm vào giỏ hàng thành công",
                        icon: "success",
                        position: "bottom-right",
                    }),
                        $(".number-cart").text(n.count))
                    : $.toast({
                        text: "Quá trình thực hiện không thành công",
                        icon: "error",
                        position: "bottom-right",
                    });
            });
        }

    </script>
}