@model IEnumerable<HC_Pharma.Models.QaProduct>

<table class="list_table tablecenter mb-4" id="list-cat">
    <tr>
        <th>STT</th>
        <th>Tên câu hỏi</th>
        <th>Câu trả lời</th>
        <th style="width: 160px"></th>
    </tr>
    <tbody id="sortable-cat">
        @foreach (var item in Model)
        {
           <tr data-id="@item.Id" style="background: #ededed;">
               <td style="width: 120px;">
                   @item.Sort
               </td>
               <td>
                   @item.Name
               </td>
               <td>
                   @item.Body
               </td>
               <td>
                   @Html.ActionLink("Sửa", "UpdateQaProduct", new { id = item.Id }) -
                   <a href="javascript:;" onclick="deleteQa('@item.Id')" style="color: red">Xóa</a>
               </td>
           </tr>
        }

    </tbody>
</table>

<script type="text/javascript">
    function deleteQa(id) {
        if (confirm("Bạn có chắc chắn xóa câu hỏi này không?")) {
            $.post("/LandingPage/DeleteQaProduct", { id: id }, function (data) {
                if (data) {
                    $.toast({
                        text: 'Đang xóa câu hỏi',
                        position: 'bottom-right',
                        icon: 'success',
                    })
                    $("tr[data-id='" + id + "']").fadeOut();
                } else {
                    $.toast({
                        text: 'Quá trình thực hiện không thành công. Hãy thử lại',
                        icon: 'error',
                    })
                }
            });
        }
    }
</script>