@model HC_Pharma.ViewModel.IntroViewModel
@{
    ViewBag.Title = "Cập nhật giới thiệu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .form_name {
        width: 150px;
    }

    .note {
        font-weight: normal;
    }
</style>
<h2>Cập nhật giới thiệu</h2>
<a class="btn quick-link" href="@Url.Action("ListIntro","Banner")"><i class="far fa-list mr-1"></i> Danh sách banner</a>
<div class="box_content px-300">
    @using (Html.BeginForm("EditIntro", "Banner", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Introduct.Id)
        <table class="form_table">
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Introduct.Slogan)</td>
                <td class="form_text">@Html.TextBoxFor(model => model.Introduct.Slogan)</td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Introduct.Image)</td>
                <td class="form_text">@Html.TextBoxFor(model => model.Introduct.Image, new { type = "file" }) <span class="red-warring">Chấp nhận ảnh jpg, png, gif, jpeg, mp4 < 150MB</span></td>
            </tr>
            @if (Model.Introduct.Image != null)
            {
                <tr>
                    <td class="form_name"></td>
                    <td class="form_text"><img class="img-border" src="@Path.Combine("/images/intro/",  Model.Introduct.Image)" /></td>
                </tr>
            }
          
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Introduct.Sort)</td>
                <td class="form_text">@Html.EditorFor(model => model.Introduct.Sort)</td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Introduct.Active)</td>
                <td class="form_text">@Html.CheckBoxFor(model => model.Introduct.Active)</td>
            </tr>
            <tr>
                <td class="form_name"></td>
                <td class="form_text">
                    <input type="submit" class="btn quick-link" value="Cập nhật" />
                </td>
            </tr>
        </table>
    }
</div>
