@model HC_Pharma.ViewModel.ShoppingCartViewModel
@{
    ViewBag.Title = "Giỏ hàng của bạn";
    var count = 0;
}
<link href="~/Content/sweetalert2.css" rel="stylesheet" />
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container"style="max-width: 1230px;">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
        </ol>
    </div>
</nav>
<section class="shoping-cart">

    <div class="container pt-lg-3 pt-2 mb-lg-4 mb-3" style="max-width: 1230px;">
        @if (!Model.CartItems.Any())
        {
            <div class="alert p-5 cart-empty">
                <div class="text-center font-sm-14">
                    <img src="~/Content/images/shopping-cart.gif" class="img-fluid rounded m-auto" alt="Đơn hàng" /><br /><br />
                    Giỏ hàng của bạn đang trống. Hãy chọn sản phẩm!
                </div>
                <div class="text-center">
                    <a href="@Url.Action("AllProduct", "Home")" class="btn-all-product">
                        Mua hàng
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="title-cart font-weight-bold">
                Giỏ hàng của bạn
            </div>
            using (Html.BeginForm())
            {
                <div class="my-cart">
                    <div class="table-responsive">
                        <div class="select-all border">
                            <div style="width:45%">Sản phẩm</div>
                            <div style="width:15%" class="pl-4">Giá</div>
                            <div style="width:20%" >Thành tiền</div>
                            <div style="width:20%" class="text-right">Số lượng</div>
                        </div>
                        <table class="table border">
                            @foreach (var item in Model.CartItems)
                            {
                                count++;
                                var p = item.Price ?? 0;
                                var price = item.Count * p;
                                <tr data-row="@item.RecordId">
                                    <td style="width:45%">
                                        <div class="flex-item">
                                            @if (item.Product.ListImage != null)
                                            {
                                                <img src="@Path.Combine("/images/products/", item.Product.ListImage.Split(',')[0])" class="img-product  mr-3" alt="@item.Product.Name">
                                            }
                                            else
                                            {
                                                <img src="~/Content/images/img-main/on-image.jpg" class="img-product mr-3" alt="@item.Product.Name">
                                            }
                                            <div class="name font-weight-bold truncate">
                                                @item.Product.Name
                                                <a href="javascript:;" title="Xóa" class="remove-product d-block text-danger mt-3" style="color: dimgray" data-id="@item.RecordId">
                                                    Xóa
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:15%">
                                        <div class="flex-item font-weight-bold price-c">
                                            @if (p == 0)
                                            {
                                                <span>
                                                    Liên hệ
                                                </span>
                                            }
                                            else
                                            {
                                                <span><b>@p.ToString("N0") đ</b> </span>
                                            }

                                        </div>
                                    </td>
                                    <td style="width:20%">
                                        <div class="flex-item font-weight-bold price-c">
                                            @if (price == 0)
                                            {
                                                <span>
                                                    Liên hệ
                                                </span>
                                            }
                                            else
                                            {
                                                <span><b id="final"class="final" data-cart-item="@item.RecordId">@price.ToString("N0") </b> đ</span>
                                            }

                                        </div>
                                    </td>
                                    <td style="width:20%">
                                        <div class="flex-item justify-content-end">
                                            <input type="hidden" name="RecordId" value="@item.RecordId" />
                                            <input type="number" id="orderQuantity_@count" id-value="@item.RecordId" class="nice-number  form-control" name="Quantity" required="" min="1" max="999" value="@item.Count">
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                        <input type="hidden" value="@count" id="totalProduct" />
                    </div>
                    <div class="border p-3">
                        <div class="total text-right d-flex">
                            Tổng cộng (đã bao gồm VAT) <span class="font-weight-bold pl-2" id="finalTotal">@Model.CartTotal.ToString("N0") </span>
                            <p class="font-weight-bold">đ</p>
                        </div>
                        <div class="cart-btn text-right">
                            <div class="item-btn bg-danger text-white">
                                <a href="@Url.Action("EmptyCart")"><i class="fa fa-trash mr-1"></i>Hủy đơn hàng</a>
                            </div>
                            <div class="right-btn">
                                <div class="item-btn bg-info">
                                    <a href="@Url.Action("AllProduct" ,"Home")"><i class="fas fa-cart-plus"></i>Tiếp tục mua hàng</a>
                                </div>
                                <div class="item-btn bg-primary text-white">
                                    <a href="@Url.Action("CheckOut")"><i class="fas fa-check"></i>Đặt hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            }
        }

    </div>

</section>

@section scripts
{
    <script src="~/Scripts/jquery.nice-number.js"></script>
    <script src="~/Scripts/sweetalert2.all.js"></script>
    <script>

        $('input[type="number"]').niceNumber({
            autoSize: false,
            onDecrement: function (input, number, object) {
                UpdateToCard($(input).attr('id-value'), -1);
                return false;
            },
            onIncrement: function (input, number, object) {
                UpdateToCard($(input).attr('id-value'), 1); return false;
            }

        });

    </script>
}