@model HC_Pharma.Models.Product
@{
    var url = "";
    if (Model.LandingPage)
    {
        url = Url.Action("LandingPage", "Home", new { url = Model.Url });
    }
    else
    {
        url = Url.Action("ProductDetail", "Home", new { url = Model.Url });
    }
}


<div class="product-item mt-0">
    <div class="product-thumail">
        <a href="@url">
            @if (Model.ListImage != null)
            {
                <img src="@Path.Combine("/images/products/", Model.ListImage.Split(',')[0])" alt="@Model.Name">
            }
            else
            {
                <img src="~/Content/images/img-main/on-image.jpg" alt="@Model.Name">
            }
        </a>
    </div>
    <div class="prouduct-infor">
        <div class="product-name">
            <a href="@Url.Action("ProductDetail", new {url = Model.Url})" class="name">
                @Model.Name
            </a>
            <a href="@Url.Action("ProductCategory", new {url = Model.ProductCategory.Url})" class="category">(@Model.ProductCategory.CategoryName)</a>
        </div>
        <div class="product-price">
            @if (Model.PriceSale != null)
            {
                @Html.DisplayFor(a => a.PriceSale)
            }
            else
            {
                @Html.DisplayFor(a => a.Price)
            }
            @if (Model.Price == null && Model.PriceSale == null)
            {
                <p>Liên hệ</p>
            }
        </div>
        <div class="product-description truncate mt-2">
            @Model.Description
        </div>
    </div>
    <div class="order-btn text-center">       
        <a href="javascript:;" class="order-pr" onclick="addCart(@Model.Id)"><i class="far fa-shopping-cart pr-2"></i>Thêm vào giỏ hàng </a>
    </div>
</div>

